<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/mdb.min.css" rel="stylesheet">
    <link href="/static/css/style.min.css" rel="stylesheet">

</head>


<body>
  <div class="container mt-5" style="width: 400px;">
    <div class="card">
      <h5 class="card-header info-color white-text text-center py-4">
        <strong>Sign in</strong>
      </h5>
      <div class="card-body px-lg-5 pt-0">
        <form class="text-center" style="color: #757575;" method="POST" action="/register">
          <div class="md-form my-5">
            <input type="text" name="materialLoginFormPhone" class="form-control">
            <label for="materialLoginFormEmail">Phone</label>
          </div>
          <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/static/js/popper.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.js"></script>
  <script type="text/javascript" src="/static/js/mdb.min.js"></script>
  <script type="text/javascript" src="/static/js/mdb.js"></script>
</body>
</html>