<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/mdb.min.css" rel="stylesheet">
  <link href="/static/css/style.min.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #011123">
    <div class="container">
      <a class="navbar-brand" href="/home">
        <img src="/static/img/logo.png" width="110" height="40" class="d-inline-block align-top" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Flight schedule</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/departure">Departure</a>
                  <a class="dropdown-item" href="/arrival">Arrival<span class="sr-only">(current)</span></a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/facilities">Facilities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/com.hello">Map</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/mypage">MyPage<span class="sr-only">(current)</span></a>
            </li>            
          </ul>

        </div>

    </div>
  </nav>

  <div class="row">
    <div class="col-md-2">
      <nav class="nav flex-column grey lighten-3 py-4 mb-r font-weight-bold" style="height: 100%">
        <a class="nav-link active" href="/mypage">내 정보</a>
        <a class="nav-link" href="/mypage/flight">등록된 항공편</a>
        <a class="nav-link" href="/mypage/route">내 경로</a>
        <a class="nav-link" href="/mypage/logout">로그아웃</a>
      </nav>
    </div>

    <div class="col-md-10">
      <section class="my-5">
        <h3 class="h3-responsive font-weight-bold my-5">내 경로</h3>
        <hr>
        {% if resultData.flightId == None %}
          <p>등록된 경로가 없습니다.</p>
        {% else %}
          {% for i in range(0, row_len) %}
            <form name='route_del_form' id='route_del_form' method='POST' action='/del_route'>
              <div class='md-form input-group'>
                <input style='background-color: white' type='text' class='form-control' value='{{i+1}}.  {{resultData[i].route}}' disabled>
                <div class='input-group-append'>
                  <button class='btn btn-sm btn-indigo z-depth-0 waves-effect' type = 'submit'>삭제</button>
                </div>
                <div style="display: none">
                  <input name='route' type='text' value='{{resultData[i].route}}'>
                </div>    
              </div>
            </form>
          {% endfor %}
        {% endif %}
      </section>
    </div>
  </div>

  <footer class="page-footer font-small wow fadeIn" style="background-color: #334164">
    <div class="container">
      <div class="row">
        <div class="col-md-12 py-3">
          <div class="mb-3 flex-center">
            
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3" style="background-color: #1d2539">© 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> KAU</a>
    </div>
  </footer>

  <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/js/mdb.min.js"></script>
</body>
</html>